:root{
    --black-color: rgba(0, 0, 0, 0.905);
    --white-color: rgba(255,255,255);
    --chalk-white-color: rgb(224, 219, 209);
    --blue-color: rgb(0, 0, 255);
    --red-color: rgb(255, 0, 0); 
    --input-color: #E5E7EB;
    --shaded-blue-color: rgba(0, 0, 255, 0.1)

    

}

@font-face {
    font-family: 'Norse';
    src: url(./assets/Norse-Bold.woff);
}

body{
    display:flex;
    flex-direction: column;    
    width:100vw;
    height:100vh;
    padding:0;
    margin:0;
    background-color: var(--black-color);
    justify-content: center;
    align-items: center;
}



.container{    
    width: 65vW;
    height:100vh;
    background-color: var(--white-color);
    display: flex; 
    flex-direction: row; 

  
}

.image{
    width: 35vw;
    background-image: url(./assets/steinar-engeland-SgyH_Ix9lNE-unsplash.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;    
}

.logo-container, .credits{
    height: 50%;
}

.credits{
    font-family: 'Norse', sans-serif;
    color: var(--white-color);
    display: flex;
    align-items:flex-end;
    justify-content: center;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.shaded-container{ 
    height:18vh;
    background-color: black;
    width:100%;
    opacity: 0.3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    height: 100%;
    width: 25%;
    background-image: url(./assets/odin-lined.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;   
}

.shaded-container p{
    color: var(--white-color);
    font-family: 'Norse', sans-serif;
    font-weight: bold;
    font-size: 100px;
}

.form-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-container .first-text{
    height: 34vh;
    width: 100%; 
    font-family: 'Roboto',sans-serif ;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    font-size: 20px;
    font-weight: bold;
    background-color: var(--chalk-white-color);
}

.text-lines{
    margin-left: 20px;
}

fieldset{
    border: none;
    display: flex;
    position: relative;
    font-family: 'Roboto', sans-serif;    
}

form  h3{
    margin-left: 20px;
}
form{
    display:flex;
    flex-direction: column;      
    height: 66vh;
}

.form{
    height: 40%;    
    box-shadow: 0 4px 2px -2px gray;
}

input{
    appearance: none;
}

input{
    box-sizing: border-box;
    width: 200px;
    border-radius: 5px;
    margin-bottom: 20px;
}

legend{
    font-family: 'Roboto', sans-serif;
    font-size: 0.70em;
}

.left-side, .right-side{
    width: 40%;
}

.right-side{
    margin-left: -30px;
}

input + span{
    position: relative;
}

input:required + span::after{
    font-size: 0.7em;
    position:absolute;
    content: 'required';
    color: var(--white-color);
    background-color: var(--black-color);
    padding: 5px 10px;
    top:-26px;
    left: -70px; 
}

input{
    border: 1px solid var(--input-color);
}

input:focus{
    border: 1px solid var(--blue-color);
    box-shadow: 0 4px 2px -2px gray; ;
    outline:none;    
    
}

input[type="password"]:invalid{
    border: 1px solid var(--red-color);
}


